.summary-footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 2.5vw 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  font-size: 1.3vw;
  line-height: 1.2;
  text-transform: uppercase;
  color: #66635c;
}
.summary-footer p {
  margin-bottom: .5vw;
}
.summary-footer img{
  margin-right: .5vw;
  width: 3vw;
  max-width: 50px;
}
.summary-footer .footer-left-content {
  display: flex;
  align-items: center;
}
.summary-footer .footer-center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.summary-footer .footer-right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}