.images-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 75vw;
  display: flex;
  justify-content: space-between;
}
.images-wrapper .container1 {
  margin-top: -3vw;
  align-self: center;
  width: 25vw;
}
.images-wrapper .container2 {
  width: 25vw;
  align-self: flex-start;
}
.images-wrapper .container3 {
  margin-bottom: 3vw;
  align-self: flex-end;
  width: 25vw;
}
.text-wrapper {
  position: absolute;
  top: 9vw;
  left: 7vw;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.fb-block-wrapper {
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 20vw;
  height: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-39%);
}
.text-wrapper > div {
  font-family: FoglihtenNo06, sans-serif;
  font-weight: 500;
  font-size: 7vw;
  color: #66635c;
  line-height: 1.3;
}
.fb-block-wrapper .orange-bg-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #fad1ac;
  filter: blur(4.375rem);
}
.fb-block-wrapper .circle-text-wrapper {
  z-index: 10;
  position: absolute;
  width: 60%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../assets/images/summary-circle-text.png) no-repeat center
    center;
  background-size: cover;
}
.fb-block-wrapper .circle-text-wrapper .fb-text {
  font-size: 2vw;
  color: #66635c;
}
.text-wrapper > div:nth-child(1) {
  font-size: 8vw;
  line-height: 1.4;
}
.text-wrapper > div:nth-child(2) {
  align-self: flex-end;
}
.text-wrapper > div:nth-child(4) {
  align-self: center;
}
#summary {
  background-color: #e3e1da;
}
